{{yield}}

<div class="expense">
  title
  <input type="text" name="title" value="">
  description
  <textarea name="description" rows="8" cols="80"></textarea>
  category
  <select class="" name="category">
    <option value="">category</option>
  </select>
  <button type="button" name="button" {{action 'deleteExpense'}}>deleteExpense</button>
  <button type="button" name="button" {{action 'editExpense'}}>editExpense</button>
</div>
